Latex/Proposal/Proposal.log
Latex/Proposal/Proposal.aux
Latex/Proposal/Proposal.synctex.gz
Latex/Proposal/Proposal.pdf
ma/desktop.ini

*.lnk
*.asv
Latex/Final paper/final_paper.aux
Latex/Final paper/final_paper.synctex.gz
Latex/Final paper/final_paper.bbl
Latex/Final paper/final_paper.log
Latex/Final paper/final_paper.blg
Latex/Final paper/final_paper.pdf